.logo {
    img {
        max-width: 32px;
        transform: scaleX(-1);
    }
}

.nav-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.links-container {
    height: 0;
    overflow: hidden;
}

.banner {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--bs-light);
}

.scroll-section {
    height: 80vh;

    h2 {
        span {
            color: var(--bs-teal);
        }
    }
}

footer {
    &.scroll-section {
        height: 200px;
    }
}