body {
    background-color: var(--bs-light);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: var(--bs-white);
}

.logo {
    img {
        max-width: 32px;
        transform: scaleX(-1);
    }
}