@import 'variables';

:root {
    --transition: all 0.15s linear;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

header {
    min-height: 100vh;
    background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.8)),
        url('../images/background.jpg?as=webp&width=1920&quality=75') center/cover no-repeat;
}

.logo {
    img {
        max-width: 48px;
        transform: scaleX(-1);
    }
}

.nav-top {
    z-index: 2;
    position: relative;

    a {
        color: var(--bs-white);
    }
}

.nav-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bs-white);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

    a {
        color: var(--bs-dark);
    }
}

.nav-toggle {
    @media screen and (min-width: $screen-lg) {
        display: none;
    }
}

.links-container {
    height: 0;
    overflow: hidden;

    @media screen and (min-width: $screen-lg) {
        height: auto;
    }
}

.links {
    li {
        list-style-type: none;
        margin-left: 32px;

        a {
            text-decoration: none;
            font-size: 1.2rem;
            font-weight: 500;
            transition: var(--transition);

            &:hover {
                color: var(--bs-teal);
            }
        }
    }
}

.banner {
    min-height: 100vh;
    display: grid;
    place-items: center;
    position: relative;

    .container {
        z-index: 1;
        position: relative;
    }
}

.btn-tr {
    border: 2px solid var(--bs-white);
    color: var(--bs-white);
    border-radius: 0;

    &:hover {
        border-color: var(--bs-gray-500);
        color: var(--bs-gray-500);
    }
}

.scroll-section {
    height: 80vh;

    h2 {
        span {
            color: var(--bs-teal);
        }
    }
}

footer {
    &.scroll-section {
        height: 200px;
    }
}

.top-link {
    width: 48px;
    height: 48px;
    background-color: var(--bs-teal);
    display: block;
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bs-white);
    text-decoration: none;
    font-style: 3rem;
    animation: bounce 2s ease-in-out infinite;

    &:hover {
        color: var(--bs-white);
    }
}
